body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
    height: 100vh;
    margin: 0;
}

.mainBox {
    background-color: hsl(0, 0%, 100%);
    width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: auto; /* Push mainBox to the center of the screen */
    margin-bottom: auto; /* Push mainBox to the center of the screen */
}

.mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.mainImage img {
    width: 97%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.mainText {
    margin-top: auto;
    padding: 0 5px 15px 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.subText {
    margin-top: auto;
    padding: 0 15px 20px 15px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
