body {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.mainBox {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

.mainBox img {
    width: 80%;
}